<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Baconit' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>986f32a4-4d32-42a9-90c1-58d7178ca973</InstrumentationKey>
</ApplicationInsights>