<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Baconit' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>9221165c-0200-4798-8520-f6fb357e60f2</InstrumentationKey>
</ApplicationInsights>