<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap uap3 mp">
  <Identity Name="63002SalvatoreDev.Reddunt" Publisher="CN=95B45669-0162-487E-9842-E3D6299BED6B" Version="2.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="0c7dd4f8-f15a-4441-b1aa-55d4eea336a8" PhonePublisherId="151d3a27-e392-4666-a7d4-60cdbcadf73f" />
  <Properties>
    <DisplayName>Reddunt</DisplayName>
    <PublisherDisplayName>SalvatoreDev</PublisherDisplayName>
    <Logo>Assets\AppAssets\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Baconit.App">
      <uap:VisualElements DisplayName="Reddunt" Square150x150Logo="Assets\AppAssets\Square150x150Logo.png" Square44x44Logo="Assets\AppAssets\Square44x44Logo.png" Description="Reddunt is a gorgeous Reddit® client based on Baconit, an open source app. It's available on all Windows 10 devices. The main focus is on optimization as well great Windows 10 focused features!" BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\AppAssets\BadgeLogo.png" />
        <uap:DefaultTile ShortName="Reddunt" Wide310x150Logo="Assets\AppAssets\Wide310x150Logo.png" Square310x310Logo="Assets\AppAssets\Square310x310Logo.png" Square71x71Logo="Assets\AppAssets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\AppAssets\SplashScreen.png" BackgroundColor="transparent" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BaconBackground.BackgroundEntry">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="reddunt">
            <uap:Logo>Assets\AppAssets\Square44x44\Square44.png</uap:Logo>
            <uap:DisplayName>Reddunt</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="bluetooth.rfcomm">
      <Device Id="any">
        <!-- Used by the Microsoft Band SDK -->
        <Function Type="serviceId:A502CA9A-2BA5-413C-A4E0-13804E47B38F" />
        <!-- Used by the Microsoft Band SDK -->
        <Function Type="serviceId:C742E1A2-6320-5ABC-9643-D206C677E580" />
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>